#edit-user-window.modal.hide.fade{ 'aria-hidden': 'true', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
.main_nav_bar
  = link_to 'Root', root_path, class: 'btn btn-dark'
  - if request.referer && request.referer != request.original_url
    = link_to 'Back', request.referrer, id: 'back', class: 'btn btn-dark'
  - else
    = link_to 'Back', books_path, id: 'back', class: 'btn btn-dark'
  = link_to 'Edit user', edit_user_path(@user), { remote: true, 'data-toggle': 'modal', class: 'btn btn-dark',
                                                  'data-target': '#edit-user-window', id: 'eul' }
.page_content
  .row.mt-5
    .container-fluid.align-items-center
      .row
        .col-auto.p-0.mr-1
          %div.img-thumbnail
            - if @user.avatar?
              %img.img-fluid{ alt: 'avatar', src: @user.avatar.url }
            - else
              = image_tag 'no_avatar.jpg', alt: 'avatar', class: 'img-fluid'
            .caption
              %span
                Avatar
        .col-auto.other.p-0
          %table.table-bordered.table-striped{ style: 'background-color: #DCDCDC;' }
            %tbody
              %tr
                %td
                  %span
                    Email:
                %td
                  = @user.email
              %tr
                %td
                  %span
                    Nickname:
                - if @user.nickname && !@user.nickname.eql?('')
                  %td
                    = @user.nickname
                - else
                  %td
                    %span User
                    = @user.id
  .books_taken_block
    .row.mt-1
      %alert.alert.alert-success{ role: "alert", style: 'width: 50%; height: 40px;' }
        %span.vertical-center
          Books taken by you subscriptions:
    .row
      - @user.registers.where(expired: false).each_with_index do |reg, index|
        .col.col-12.col-xl-6
          .row.justify-content-center.mb-3
            .col.col-3
              //- if defined?(reg.book.envelope)
              %img.img-fluid{ alt: 'book_envelope', src: reg.book.envelope.thumb.url }
            .col.col-9.other
              %p
                Book name:
                = reg.book.try(:name)
              %p
                Author:
                = reg.book.try(:author)
              #lcount.p
                Actuality:
                = reg.book.likes_count
              %p
                = reg.book.try(:description).truncate(100, omission: '...')
              %btn.btn
                = link_to 'Look', book_path(reg.book)
              %btn.btn
                = link_to 'Return', return_book_path(reg.book), { method: :put }
