#edit-user-window.modal.hide.fade{ 'aria-hidden': 'true', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
#menu-overlay-btn.btn.btn-primary
  = fa_icon 'navicon'
- if request.referer && request.referer != request.original_url
  = link_to request.referrer, id: 'log-overlay-btn', class: 'btn btn-primary' do
    = fa_icon 'chevron-left'
- else
  = link_to books_path, id: 'log-overlay-btn', class: 'btn btn-primary' do
    = fa_icon 'chevron-left'
.page_content
  #content_actions_container
    = link_to edit_user_path(@user), { remote: true, 'data-toggle': 'modal',
                                       'data-target': '#edit-user-window', id: 'eul' } do
      = fa_icon 'cog 2x'
  .row.justify-content-center
    %div.img-thumbnail.mb-2
      - if @user.avatar?
        %img.img-fluid{ alt: 'avatar', src: @user.avatar.url }
      - else
        = image_tag 'no_avatar.jpg', alt: 'avatar', class: 'img-fluid'
      .caption
        %span
          Avatar
  .row.justify-content-center
    %table.table-bordered.table-striped.mb-2
      %tbody
        %tr
          %td
            %span
              Email:
          %td
            = @user.email
        %tr
          %td
            %span
              Nickname:
          - if @user.nickname && !@user.nickname.eql?('')
            %td
              = @user.nickname
          - else
            %td
              %span User
              = @user.id
  .books_taken_block
    .row.justify-content-center.mb-2
      %alert.alert.alert-success{ role: "alert", style: 'width: 50%; height: 40px;' }
        %span.vertical-center
          Books you have taken
    .row
      - @user.registers.where(expired: false).each_with_index do |reg, index|
        .col.col-12.col-xl-6.m-0.p-0
          .row.justify-content-center.mb-2
            .col.col-3.m-0.p-0
              .book_envelope_block
                %div.img-thumbnail.mb-1{ style: 'text-align:center;' }
                  = link_to book_path(reg.book) do
                    - if reg.book.envelope.url
                      %img.img-fluid.mb-1{ alt: 'book_envelope', src: reg.book.envelope.thumb.url }
                    - else
                      = image_tag 'no_envelope.jpg', alt: 'book_envelope', class: 'img-fluid mb-1'
                  .caption{ style: 'text-align:center; width: 100%;' }
                    = link_to 'Return', return_book_path(reg.book), { method: :put, remote: true,
                                                                      id: "return_btn#{ index + 1 }",
                                                                      class: 'btn btn-sm btn-block btn-primary' }
            .col.col-9.other.m-0.p-0
              .book_title_block
                %table.table-bordered.table-striped.mb-2
                  %tbody
                    %tr
                      %td
                        %span
                          Full name:
                      %td
                        = reg.book.try(:name)
                    %tr
                      %td
                        %span
                          Author:
                      %td
                        = reg.book.try(:author)
                    %tr
                      %td
                        %span
                          Relevance:
                      %td
                        .like_wrapper{ id: "like_wrapper#{ index + 1 }", role: 'button' }
                          - if exist_like?(reg.book)
                            = link_to book_like_path(reg.book, reg.book.likes.find_by(user_id: current_user.id)), method: :delete,
                                                     class: 'btn btn-sm btn-secondary', remote: true, id: "like#{ index + 1 }" do
                              = fa_icon 'thumbs-down'
                              %span &nbsp&nbsp&nbsp
                              %lcount
                                = reg.book.likes_count
                          - else
                            = link_to book_likes_path(reg.book), class: 'btn btn-sm btn-success', method: :post,
                                                                 remote: true, id: "like#{ index + 1 }" do
                              = fa_icon 'thumbs-up'
                              %span &nbsp&nbsp&nbsp
                              %lcount
                                = reg.book.likes_count
                %div
                .book_description.mb-2
                  = reg.book.try(:description)
                %div
