#new-book-window.modal.hide.fade{ 'aria-hidden': 'true', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content

#edit-book-window.modal.hide.fade{ 'aria-hidden': 'true', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
.main_nav_bar
  - if user_signed_in?
    = link_to 'New', new_book_path, { remote: true, 'data-toggle': 'modal', class: 'btn btn-dark' ,
                                    'data-target': '#new-book-window', id: 'nmw' }
    = link_to 'Profile', user_index_path, class: 'btn btn-dark'
    = link_to 'Log out', destroy_user_session_path, class: 'btn btn-dark', method: :delete
  - else
    = link_to 'New', '', { remote: true, 'data-content' => 'You have to login at first',
                           'data-toggle' => 'popover', 'data-placement' => 'bottom' }

    %button.btn.btn-danger{ 'data-content' => 'You have to login at first', 'data-toggle' => 'popover',
                                       'data-placement' => 'bottom' } New
    = link_to 'Sign in', '', { id: 'login_modal', 'data-target': '#sign-in-modal',
                               'data-toggle': 'modal', class: 'btn btn-dark' }
    = link_to 'Sign up', '', { id: 'sign_up_modal', 'data-target': '#sign-up-modal',
                               'data-toggle': 'modal', class: 'btn btn-dark' }
.page_content
  - if Book.first
    #accordion
      .card
        .row
          .col-4.m-0.p-0
            #subhead_1.btn.btn-block.btn-primary.collapsed{ 'aria-controls' => 'submenu_1', 'data-target' => '#submenu_1',
                                                            'aria-expanded' => 'true', 'data-toggle' => 'collapse' }
              %span Top Books
          .col-4.m-0.p-0
            #subhead_2.btn.btn-block.btn-success.collapsed{ 'aria-controls' => 'submenu_2', 'data-target' => '#submenu_2',
                                                            'aria-expanded' => 'true', 'data-toggle' => 'collapse' }
              %span Available list
          .col-4.m-0.p-0
            #subhead_3.btn.btn-block.btn-secondary.collapsed{ 'aria-controls' => 'submenu_3', 'data-target' => '#submenu_3',
                                                              'aria-expanded' => 'true', 'data-toggle' => 'collapse' }
              %span Books taken
        #submenu_1.collapse.show{ 'aria-labelledby' => 'subhead_1', 'data-parent' => '#accordion' }
          .card-body{ style: 'padding: 10px 0 0 0;' }
            .row
              - @top_books.each_with_index do |top_bk, index|
                .col.col-12.col-xl-6.m-0.p-0
                  .row.justify-content-center.mb-2
                    .col.col-3.m-0.p-0
                      .book_envelope_block
                        %div.img-thumbnail.mb-1{ style: 'text-align:center;' }
                          = link_to book_path(top_bk) do
                            - if top_bk.envelope.url
                              %img.img-fluid.mb-1{ alt: 'book_envelope', src: top_bk.envelope.thumb.url }
                            - else
                              = image_tag 'no_envelope.jpg', alt: 'book_envelope', class: 'img-fluid mb-1'
                          .caption{ style: 'text-align:center; width: 100%;' }
                            - if top_bk.status
                              = link_to 'Available', take_book_path(top_bk), { method: :put,
                                                                             id: "take_book_btn#{ index + 1 }",
                                                                             class: 'btn btn-sm btn-block btn-success' }
                            - else
                              %btn.btn.btn-sm.btn-block.btn-danger.disabled
                                Book taken
                    .col.col-9.other.m-0.p-0
                      .book_title_block
                        %table.table-bordered.table-striped.mb-2
                          %tbody
                            %tr
                              %td
                                %span
                                  Full name:
                              %td
                                = top_bk.try(:name)
                            %tr
                              %td
                                %span
                                  Author:
                              %td
                                = top_bk.try(:author)
                            %tr
                              %td
                                %span
                                  Relevance:
                              %td
                                .like_wrapper
                                  %button.btn.btn-sm.btn-info.disabled
                                    = fa_icon 'heart'
                                    %span &nbsp&nbsp&nbsp
                                    %lcount
                                      = top_bk.likes_count
                        %div
                        .book_description.mb-2
                          = top_bk.try(:description)
                        %div
                        -#.truncate(100, omission: '...')
        #submenu_2.collapse{ 'aria-labelledby' => 'subhead_2', 'data-parent' => '#accordion' }
          .card-body{ style: 'padding: 10px 0 0 0;' }
            .row
              - @books.each_with_index do |bk, index|
                .col.col-12.col-xl-6.m-0.p-0
                  .row.justify-content-center.mb-2
                    .col.col-3.m-0.p-0
                      .book_envelope_block
                        %div.img-thumbnail.mb-1{ style: 'text-align:center;' }
                          = link_to book_path(bk) do
                            - if bk.envelope.url
                              %img.img-fluid.mb-1{ alt: 'book_envelope', src: bk.envelope.thumb.url }
                            - else
                              = image_tag 'no_envelope.jpg', alt: 'book_envelope', class: 'img-fluid mb-1'
                            .caption{ style: 'text-align:center; width: 100%;' }
                              - if bk.status
                                = link_to 'Available', take_book_path(bk), { method: :put,
                                                                             id: "take_book_btn#{ index + 1 }",
                                                                             class: 'btn btn-sm btn-block btn-success' }
                              - else
                                %btn.btn.btn-sm.btn-block.btn-danger.disabled
                                  Book taken
                    .col.col-9.other.m-0.p-0
                      .book_title_block
                        %table.table-bordered.table-striped.mb-2
                          %tbody
                            %tr
                              %td
                                %span
                                  Full name:
                              %td
                                = bk.try(:name)
                            %tr
                              %td
                                %span
                                  Author:
                              %td
                                = bk.try(:author)
                            %tr
                              %td
                                %span
                                  Relevance:
                              %td
                                .like_wrapper
                                  %button.btn.btn-sm.btn-info.disabled
                                    = fa_icon 'heart'
                                    %span &nbsp&nbsp&nbsp
                                    %lcount
                                      = bk.likes_count
                        %div
                        .book_description.mb-2
                          = bk.try(:description)
                        %div
        #submenu_3.collapse{ 'aria-labelledby' => 'subhead_3', 'data-parent' => '#accordion' }
          .card-body{ style: 'padding: 10px 0 0 0;' }
            - if @books_taken.first
              .row
                - @books_taken.each_with_index do |taken_bk, index|
                  .col.col-12.col-xl-6.m-0.p-0
                    .row.justify-content-center.mb-2
                      .col.col-3.m-0.p-0
                        .book_envelope_block
                          %div.img-thumbnail.mb-1{ style: 'text-align:center;' }
                            = link_to book_path(taken_bk) do
                              - if taken_bk.envelope.url
                                %img.img-fluid.mb-1{ alt: 'book_envelope', src: taken_bk.envelope.thumb.url }
                              - else
                                = image_tag 'no_envelope.jpg', alt: 'book_envelope', class: 'img-fluid mb-1'
                      .col.col-9.other.m-0.p-0
                        .book_title_block
                          %table.table-bordered.table-striped.mb-2
                            %tbody
                              %tr
                                %td
                                  %span
                                    Full name:
                                %td
                                  = taken_bk.try(:name)
                              %tr
                                %td
                                  %span
                                    Author:
                                %td
                                  = taken_bk.try(:author)
                              %tr
                                %td
                                  %span
                                    Relevance:
                                %td
                                  .like_wrapper
                                    %button.btn.btn-sm.btn-info.disabled
                                      = fa_icon 'heart'
                                      %span &nbsp&nbsp&nbsp
                                      %lcount
                                        = taken_bk.likes_count
                          %div
                          .book_description.mb-2
                            = taken_bk.try(:description)
                          %div
                          %ul
                            - taken_bk.registers.where(expired: false).each do |reader|
                              %li
                                %span  Taken by User:
                                - if reader.user.nickname
                                  = reader.user.nickname
                                - else
                                  %span User
                                  = reader.user.id
            - else
              %span Empty
