#edit-book-window.modal.hide.fade{ 'aria-hidden': 'true', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
.main_nav_bar
  #menu-overlay-btn.btn.btn-primary
    = fa_icon 'navicon'
    - if user_signed_in?
      = link_to 'Edit book', edit_book_path(@book), { remote: true, class: 'btn btn-primary', 'data-toggle': 'modal',
                                                      'data-target': '#edit-book-window', id: 'emw' }
      = link_to 'Delete book', book_path(@book), class: 'btn btn-primary', method: :delete,
                                                        data: { confirm: 'Is it certain?' }
  - if request.referer && request.referer != request.original_url
    = link_to request.referrer, id: 'log-overlay-btn', class: 'btn btn-primary' do
      = fa_icon 'chevron-left'
  - else
    = link_to books_path, id: 'log-overlay-btn', class: 'btn btn-primary' do
      = fa_icon 'chevron-left'
.page_content
  .row.justify-content-center.mb-2
    .col.col-12.col-md-4.col-lg-3.m-0.p-0
      .single_envelope_block.mb-2
        %div.img-thumbnail{ style: 'text-align:center;' }
          - if @book.envelope.url
            %img.img-fluid{ alt: 'book_envelope', src: @book.envelope.thumb.url }
          - else
            = image_tag 'no_envelope.jpg', alt: 'book_envelope', class: 'img-fluid'
          .caption
            .row
              .col-6
                .like_wrapper{ id: 'like_wrapper', role: 'button' }
                  - if current_user
                    - if exist_like?(@book)
                      = link_to book_like_path(@book, @book.likes.find_by(user_id: current_user.id)), method: :delete,
                                               class: 'btn btn-sm btn-secondary', remote: true, id: 'like' do
                        = fa_icon 'thumbs-down'
                        %span &nbsp&nbsp&nbsp
                        %lcount
                          = @book.likes_count
                    - else
                      = link_to book_likes_path(@book), class: 'btn btn-sm btn-success', method: :post,
                                                        remote: true, id: 'like' do
                        = fa_icon 'thumbs-up'
                        %span &nbsp&nbsp&nbsp
                        %lcount
                          = @book.likes_count
                  - else
                    %button.btn.btn-sm.btn-info.disabled
                      = fa_icon 'heart'
                      %span &nbsp&nbsp&nbsp
                      %lcount
                        = @book.likes_count
              .col-6
                - if @book.status
                  = link_to 'Available', take_book_path(@book), { method: :put, id: 'take_book_btn',
                                                                       class: 'btn btn-sm btn-success' }
                - else
                  %btn.btn.btn-sm.btn-danger.disabled
                    Book taken
        %div
    .col.col-12.col-md-8.col-lg-9.m-0.p-0
      .book_title_block
        %table.table-bordered.table-striped.mb-2
          %tbody
            %tr
              %td
                %span
                  Full name:
              %td
                = @book.try(:name)
            %tr
              %td
                %span
                  Author:
              %td
                = @book.try(:author)
        %div
        .book_description
          = @book.try(:description)
        %div

      .d-flex.flex-column.justify-content-center
        = render 'comments/form'
      .d-flex.flex-column.mb-2
        = render @book.comments.order('created_at desc')
      .registers_block
        = link_to 'History', '', { id: 'hist_coll_btn', 'data-target' => '#hist_coll',
                                   'data-toggle' => 'collapse', class: 'btn btn-sm btn-info mb-2' }
        %div
        #hist_coll.collapse
          %table.table-bordered.table-striped.mb-2
            %tbody
              %tr
                %th Taken by
                %th Taken in
                %th Returned in
              = render @book.registers.order('created_at desc')
        %div
        #history_look_div.div
