= form_for(resource, as: resource_name, url: session_path(resource_name), namespace: 'session_') do |f|
  = devise_error_messages!
  .row
    %table
      %tbody
        %tr
          %td
            = f.label :email, 'Email:'
          %td
            = f.email_field :email, autofocus: true, autocomplete: 'email'
        %tr
          %td
            = f.label :password, 'Password:'
          %td
            = f.password_field :password, autocomplete: 'current-password'
        %tr
          %td{ colspan: '2' }
            - if devise_mapping.rememberable?
              .field
                = f.label :remember_me, 'Remember me:'
                = f.check_box :remember_me
  .row
    .actions
      = f.submit 'Log in', class: "btn btn-success"
